<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet"  type="text/css" href="/css/styles.css" />
    <script type="text/javascript">
        let url = "http://localhost:3000/product";
        fetch(url).then(response => response.json())
            .then((result) => {
                let div = document.getElementById('test');
                div.innerHTML = `product: ${result.product.name}`;
            })
            .catch(error => console.log('error:', error));
    </script>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 id="test"></h1>
    </main>
</body>

</html>